<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
</head>
<body>
<h1>The details entered are</h1>
<form>
	First Name: <input type="text" name="first_name" value={{first_name}} readonly><br>
	Last Name: <input type="text" name="last_name" value={{last_name}} readonly><br>
	Email: <input type="email" name="email_2" value={{email}} readonly>
</form>

<h3><a href='/'>Home</a></h3>
</body>
</html>