<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
</head>
<body>
<p> Enter the email of the user you want to edit from the below shown users</p>
<form action='/newdetails' method="GET">
Email:<input type="email" name="email_edit" required><br>
<input type="submit" value="Submit">
</form>


<p>{{users}}</p>

<h3><a href='/'>Home</a></h3>
</body>
</html>